/*---------------------------HEADER-----------------------------------*/

/*-------------------HEADER*/
/*LOGO*/
.logo {
  font-family: Cormorant !important;
  font-weight: 300;
  text-align: center !important;
  font-size: 24px;
}

/*COLLECTION*/

#text_collection {
  letter-spacing: 1.2px;
  font-weight: 300;
}

#item_collection {
  font-family: Cormorant !important;
  font-weight: 300 !important;
}

#product_h2 {
  font-size: 10px !important;
  letter-spacing: 1.1px !important;
}

.price {
  letter-spacing: 2px !important;
  font-weight: 500 !important;
}

/*CTA*/
/*Button propriété générale*/
.nectar-button span {
  font-size: 12px !important;
  font-style: italic !important;
  letter-spacing: 1.6px !important;
}

.nectar-button:hover span {
  font-weight: 400 !important;
}
/*Réservez une séance*/
#cta_booking:hover {
  background: #1e2d3b !important;
  color: #f7fbfc !important;
  border: 1px solid #1e2d3b !important;
  opacity: 0.8;
  transition: none !important;
}
/*En savoir +*/
#cta_information {
  background: transparent !important;
  border: 1px solid #1e2d3b !important;
  color: #1e2d3b !important;
}

#cta_information:hover {
  background: #1e2d3b !important;
  color: white !important;
}

/*---------About*/

.text_biography {
  width: 88% !important;
}

/*Lien vers la page about*/
.cta_bio span {
  font-family: Cormorant !important;
  font-style: italic !important;
  font-size: 14px !important;
  text-transform: uppercase !important;
}

.border_line_picture {
  border-bottom: 2px solid #1e2d3b;
}

#title_social_media {
  letter-spacing: 1.2px;
}
/* --------------------collection Portrait */
.collection_portrait h2 {
  font-family: Fira Sans !important;
  font-weight: 300 !important;
  font-size: 10px !important;
  line-height: 1.6 !important;
  color: #1e2d3b !important;
}

.collection_portrait strong {
  font-family: Fira Sans !important;
  font-weight: 500 !important;
  line-height: 1.6 !important;
}
/* --------------------Page prestation */
.onglet_part {
  letter-spacing: 1.4px;
  transform: rotate(90deg) !important;
  transform-origin: top right !important;
}

.item_descriptif h3 {
  font-family: Fira Sans !important;
  font-size: 12px !important;
  font-weight: 300 !important;
  text-transform: uppercase !important;
  line-height: 1.6 !important;
}

.item_descriptif strong {
  font-weight: 500 !important;
}

.item_descriptif em {
  font-family: Fira Sans !important;
  font-size: 12px !important;
  font-weight: 300 !important;
  font-style: italic !important;
}

.link_fashion a {
  color: #889aa8 !important;
  font-style: italic !important;
}

.link_savoirplus a {
  font-style: italic !important;
  font-size: 12px !important;
  font-weight: 400 !important;
}

.item_price p {
  font-family: Fira Mono !important;
  font-size: 12px !important;
  line-height: 1.6 !important;
  letter-spacing: 2px !important;
}

/* .tata {
    width: 80% !important;
} */

#cta_booking_top {
  border-radius: 8px !important;
  border: 0.5px solid white !important;
  background: transparent !important;
}

#cta_booking_top span {
  font-family: Cormorant !important;
  font-size: 16px !important;
  font-style: italic !important;
  color: white !important;
  font-weight: 300 !important;
}

#cta_booking_presta {
  border-radius: 8px !important;
  border: 0.5px solid #1e2d3b !important;
  background: transparent !important;
}

#cta_booking_presta span {
  font-family: Cormorant !important;
  font-size: 12px !important;
  font-style: italic !important;
  color: #1e2d3b !important;
  font-weight: 300 !important;
}

#product_h1_mobile {
  padding-left: 50px !important;
}

/*-------------------FOOTER_NAV---------------------*/
.footer_menu {
  font-family: "Fira Sans" !important;
  font-size: 12px !important;
  display: inline-block !important;
  padding: 20px !important;
  text-align: center !important;
  line-height: 1.6 !important;
  letter-spacing: 1.5px !important;
  font-weight: 400 !important;
  color: #424256 !important;
}

.subtitle {
  text-transform: uppercase !important;
  line-height: 1.6 !important;
  letter-spacing: 1px !important;
  font-size: 14px !important;
  font-weight: 300 !important;
  font-family: Fira Sans !important;
  text-align: center !important;
}

.separrator h4 {
  text-transform: uppercase !important;
  line-height: 1.6 !important;
  letter-spacing: 1px !important;
  font-size: 10px !important;
  font-weight: 300 !important;
  font-family: Fira Sans !important;
  text-align: center !important;
}

.footer_mobile {
  line-height: 1.6 !important;
  letter-spacing: 1px !important;
  font-size: 10px !important;
}

/*---------------------responsive -----------------------*/
.logo_responsive {
  font-family: Cormorant !important;
  font-weight: 300 !important;
  color: white !important;
}

.subtitle_logo_responsive {
  font-size: 8px !important;
  color: white !important;
}

@media only screen and (max-width: 800px) {
  #item_collection {
    color: white !important;
    font-size: 32px !important;
  }
  .product_h2 h2 {
    font-family: Fira Sans !important;
    font-size: 10px !important;
    font-weight: 300 !important;
    color: white !important;
    line-height: 1.6 !important;
    margin: auto;
  }
  .product_h2 strong a {
    color: white;
  }
  .onglet_part {
    font-family: Fira Mono !important;
    font-size: 14px !important;
  }

  #onglet_biographie {
    font-size: 12px !important;
  }
  #title_bio {
    font-size: 14px !important;
  }
  #onglet_solo {
    font-size: 12px !important;
  }
  #title_portrait_solo {
    font-size: 14px !important;
    line-height: 1.6;
  }
  #onglet_couple {
    font-size: 12px !important;
  }
  #title_portrait_couple {
    font-size: 14px !important;
    line-height: 1.6;
  }
  #onglet_famille {
    font-size: 12px !important;
  }
  #title_portrait_famille {
    font-size: 14px !important;
    line-height: 1.6;
  }
}

.item_descriptif_responsive h3 {
  font-family: Fira Sans !important;
  font-size: 10px !important;
  font-weight: 300 !important;
  color: #1e2d3b !important;
  text-transform: uppercase !important;
  line-height: 1.6 !important;
  letter-spacing: 1px !important;
}

.item_descriptif_responsive strong {
  font-family: Fira Sans !important;
  font-size: 10px !important;
  font-weight: 500 !important;
  color: #1e2d3b !important;
  /*font-variant: small-caps !important;*/
  text-transform: uppercase !important;
  line-height: 1.6 !important;
  letter-spacing: 1px !important;
}

.item_descriptif_responsive em {
  font-family: Fira Sans !important;
  font-size: 10px !important;
  font-weight: 300 !important;
  font-style: italic !important;
  color: #1e2d3b !important;
  /*font-variant: small-caps !important;*/
  text-transform: uppercase !important;
  line-height: 1.6 !important;
  letter-spacing: 1px !important;
}
