/*---------------------------HEADER-----------------------------------*/
/*body strong {
    font-family: Fira Sans !important;
}*/


/*-------------------HEADER*/
/*LOGO*/
.logo {
 font-family: Cormorant !important;
 font-weight: 300;
 text-align: center !important;
 font-size: 24px;
}


/*COLLECTION*/

#text_collection {
  letter-spacing: 1.2px;
}

#item_collection {
 font-family: Cormorant !important;
 font-weight: 300 !important;
}

#product_h2 {
    font-size: 11px !important;
    letter-spacing: 1.1px !important;
}

.price {
 font-size: 12px !important;
 color: #1E2D3B !important;
 text-transform: uppercase !important;
 line-height: 1.6 !important;
 letter-spacing: 2px !important;
 font-weight: 500 !important;

}

/*CTA*/


/*#cta_booking {
 border-radius: 4px !important;
 transform: scale(1);
 transition-duration: 2s !important;
 transition-property: transform !important;
}*/

#cta_booking {
    position: relative !important;
    top: -30px !important;
}

#cta_booking span {
    font-weight: 500 !important;
}

#cta_booking:hover {
    background: transparent !important;
    color:#1E2D3B !important;
    font-weight: 700 !important;
    border: 1px solid #1E2D3B !important;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1) !important;
    transform: scale(1.02);

}

#cta_information {
    background: transparent !important;
    border: 1px solid #1E2D3B !important;
    color: #1E2D3B !important;
    postion:relative !important;
    top: -30px !important;


}


#cta_information:hover {
    background: #1E2D3B !important;
    color: white !important;
    transform: scale(1.02);
    font-weight: 500 !important;
}


.nectar-button span {
 border-radius: 8px !important;
 font-size: 12px !important;
 font-family: Fira Sans !important;
 font-weight: 700 !important;
 font-style: italic !important;
 line-height: 1.6 !important;
 letter-spacing: 1px !important;
}

.nectar-button {

 border-radius: 8px !important;
 transform: scale(1);
 transition-duration: 2s !important;
 transition-property: transform !important;
}

/*MANIFESTO*/
#manifesto {
 font-family: Montserrat !important;
 line-height: 1.6 !important;
 letter-spacing: 1px !important;
}

.product_h2 {
 text-transform: uppercase !important;
}

.citation {
 text-transform: uppercase !important;

 line-height: 1.6 !important;
 letter-spacing: 1px !important;
 font-size: 12px !important;
 font-family: Cormorant !important;
 font-weight: 300 !important;
}


/*About*/
.text_descriptif {
 font-family: Fira Sans !important;
 font-size: 12px !important;
 font-weight: 300 !important;
 color: #1E2D3B !important;
 /*font-variant: small-caps !important;*/
 text-transform: uppercase !important;
 line-height: 1.6 !important;
 letter-spacing: 1px !important;
 width: 88% !important;
}

.bio {

    text-align: left !important;
}

.bio span {
 font-family: Cormorant !important;
 font-style: italic !important;
 font-size: 14px !important;
 text-transform: uppercase !important;

}



.item_descriptif h3 {
 font-family: Fira Sans !important;
 font-size: 12px !important;
 font-weight: 300 !important;
 color: #1E2D3B !important;
 /*font-variant: small-caps !important;*/
 text-transform: uppercase !important;
 line-height: 1.6 !important;
 letter-spacing: 1px !important;

}

.item_descriptif strong {
 font-family: Fira Sans !important;
 font-size: 12px !important;
 font-weight: 500 !important;
 color: #1E2D3B !important;
 /*font-variant: small-caps !important;*/
 text-transform: uppercase !important;
 line-height: 1.6 !important;
 letter-spacing: 1px !important;

}

.item_descriptif em {
 font-family: Fira Sans !important;
 font-size: 12px !important;
 font-weight: 300 !important;
 font-style: italic !important;
 color: #1E2D3B !important;
 /*font-variant: small-caps !important;*/
 text-transform: uppercase !important;
 line-height: 1.6 !important;
 letter-spacing: 1px !important;

}


.link_fashion a {
    font-family: Fira Sans !important;
    color: #889AA8 !important;
    font-style: italic !important;
    font-size: 12px !important;

}


.link_savoirplus a {
   font-family: Fira Sans !important;
    color: #1E2D3B !important;
    font-style: italic !important;
    font-size: 12px !important;
    font-weight: 500 !important;
}


.item_price p {
  font-family: Fira Sans !important;
 font-size: 12px !important;
 font-weight: 300 !important;
 color: #1E2D3B !important;
 text-transform: uppercase !important;
 line-height: 1.6 !important;
 letter-spacing: 2px !important;
}




/*---------------------responsive -----------------------*/
.logo_responsive {
 font-family: Cormorant !important;
 font-weight: 300 !important;
 color: white !important;
}

.subtitle_logo_responsive {
 font-size: 8px !important;
 color: white !important;
}



@media only screen and (max-width: 800px) {
  #item_collection {
    color: white !important;
    font-size: 32px !important;
  }
  .product_h2 h2 {
        font-family: Fira Sans !important;
        font-size: 10px !important;
        font-weight: 300 !important;
        color: white !important;
        line-height: 1.6 !important;
        margin: auto;
  }
  .product_h2 strong a {
    color: white;
  }


}


@media only screen and (max-width: 690px) {
.wpb_wrapper h2.vc_custom_heading  {
        font-family: Cormorant !important;
        font-size: 16px !important;
        font-weight: 300 !important;
        color: #1E2D3B !important;
        text-transform: uppercase !important;
        line-height: 1.6 !important;
        letter-spacing: 1px !important;
    }
}



.onglet {
    font-size: 32px !important;
    color: #1E2D3B !important;
    text-transform: uppercase !important;
    writing-mode: vertical-lr !important;
    text-orientation: mixed !important;
     transform: rotate(360deg) !important;

     font-weight: 100 !important;
}

.tata {
    width: 80% !important;


}

#cta_toto {
 border-radius: 8px !important;
 border: 0.5px solid white !important;
 background: transparent !important;

}

#cta_toto span {
    font-family: Cormorant !important;
 font-size: 16px !important;
 font-style: italic !important;
 color: white !important;
 font-weight: 300 !important;
}


#cta_tata {
 border-radius: 8px !important;
 border: 0.5px solid #1E2D3B !important;
 background: transparent !important;
}

#cta_tata span {
    font-family: Cormorant !important;
 font-size: 12px !important;
 font-style: italic !important;
 color: #1E2D3B !important;
 font-weight: 300 !important;
}



.titi {
 color: #E1E7E7 !important;
 font-family: Montserrat !important;
 font-weight: 400 !important;
 /*background: purple !important;*/
 text-transform: uppercase !important;
 transform: rotate(90deg) !important;
 transform-origin: top right !important;
}

.collection_portrait h2{
 font-family: Fira Sans !important;
 font-weight: 300 !important;
 font-size: 10px !important;
 line-height: 1.6 !important;
 letter-spacing: 1px !important;
 color: #1E2D3B !important;
}

.collection_portrait strong {
    font-family: Fira Sans !important;
    font-weight: 500 !important;
    line-height: 1.6 !important;
 letter-spacing: 1px !important;
}

.item_descriptif_responsive h3 {
 font-family: Fira Sans !important;
 font-size: 10px !important;
 font-weight: 300 !important;
 color: #1E2D3B !important;
 /*font-variant: small-caps !important;*/
 text-transform: uppercase !important;
 line-height: 1.6 !important;
 letter-spacing: 1px !important;

}

.item_descriptif_responsive strong {
 font-family: Fira Sans !important;
 font-size: 10px !important;
 font-weight: 500 !important;
 color: #1E2D3B !important;
 /*font-variant: small-caps !important;*/
 text-transform: uppercase !important;
 line-height: 1.6 !important;
 letter-spacing: 1px !important;

}

.item_descriptif_responsive em {
 font-family: Fira Sans !important;
 font-size: 10px !important;
 font-weight: 300 !important;
 font-style: italic !important;
 color: #1E2D3B !important;
 /*font-variant: small-caps !important;*/
 text-transform: uppercase !important;
 line-height: 1.6 !important;
 letter-spacing: 1px !important;

}

#product_h1_mobile {
    padding-left: 50px !important;
}


/*-------------------FOOTER_NAV---------------------*/
.footer_menu {
    font-family: 'Fira Sans' !important;
    font-size: 12px !important;
    display: inline-block !important;
    padding: 20px !important;
    text-align: center !important;
    line-height: 1.6 !important;
    letter-spacing: 1.5px !important;
    font-weight: 400 !important;
    color: #424256 !important;
}

.subtitle {
    text-transform: uppercase !important;
    line-height: 1.6 !important;
    letter-spacing: 1px !important;
    font-size: 14px !important;
    font-weight: 300 !important;
    font-family: Fira Sans !important;
    text-align: center !important;


}

.separrator h4 {
    text-transform: uppercase !important;
    line-height: 1.6 !important;
    letter-spacing: 1px !important;
    font-size: 10px !important;
    font-weight: 300 !important;
    font-family: Fira Sans !important;
    text-align: center !important;
}

.footer_mobile {
    line-height: 1.6 !important;
    letter-spacing: 1px !important;
    font-size: 10px !important;
}
