/*PRESTATIONS MANNEQUIN MOBILE*/

.team-member {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !important;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1) !important;
}

.team-member h5 {
  font-family: Fira Sans !important;
  font-weight: 500 !important;
  font-size: 14px important;
  color: #1e2d3b !important;
  line-height: 1.6 !important;
  letter-spacing: 2px !important;
}

.team-member h3 {
  color: #1e2d3b !important;
  font-size: 40px !important;
}

.team-member p {
  color: #1e2d3b !important;
  font-size: 10px !important;
  font-family: Fira Sans !important;
  font-weight: 300 !important;
  color: #1E2D3B !important;
  text-transform: uppercase !important;
  line-height: 1.6 !important;
  letter-spacing: 1.5px !important;
  text-align: justify !important;
}

.team-meta {
  position: relative !important;
  top: -10px !important;
  left: 48px !important;

}

.team-desc {
  font-family: Fira Sans !important;
  font-weight: 300 !important;
  line-height: 1.6 !important;
  letter-spacing: 1px !important;
  text-transform: uppercase !important;
  font-size: 10px !important;

}
/*------------------------------------*/
/*PRESTATIONS MANNEQUIN*/
/*prestation pola black*/
/*POLA giulia*/
.polas {
  transform: rotate(-5deg) !important;
  position: relative !important;
  top: 210px !important;
  border-radius: 5px !important;
}

.polas p {
  transform: rotate(-15deg) !important;
  font-size: 48px !important;
  position: relative !important;
  left: 30px !important;
  top: -5px !important;
  text-transform: capitalize !important;
  background: white !important;
  font-family: Rock Salt !important;
}
/*title Pola*/
/*collection*/
.collection_black h1 {
  font-size: 10px !important;
  color: white;
  font-weight: 400 !important;
  font-family: Fira Sans !important;
  letter-spacing: 1.6px !important;
}

.title {
    font-family: Fira Sans !important;
    font-weight: 300 !important;
    line-height: 1.6 !important;
    letter-spacing: 1px !important;
    text-transform: uppercase !important;
    font-size: 12px !important;
}


.bottom_meta i {
 font-size: 80px !important;
 color: #010b13 !important;

 position: relative !important;
 /*top: -10 !important;*/
 left: 40 !important;
}





/*BIOGRAPHY*/

.title {
    font-family: Fira Sans !important;


}

.bio-inner h2 {
  font-size: 40px !important;
}





.column-bg-overlay {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !important;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1) !important;
}



.discover_white span  {
    font-family: Fira Sans !important;
    font-weight: 400 !important;
    line-height: 1.6 !important;
    letter-spacing: 1px !important;
    text-transform: uppercase !important;
    font-size: 12px !important;
    color: white !important;
}

.discover_black span  {
    font-family: Fira Sans !important;
    font-weight: 400 !important;
    line-height: 1.6 !important;
    letter-spacing: 1px !important;
    text-transform: uppercase !important;
    font-size: 12px !important;
    color: #010b13 !important;


}




.cta p {
    color: #daac50 !important;
    font-family: Fira Sans !important;
    font-weight: 500;
    font-size: 14px !important;
    width: 120% !important;
    padding-left: 8px !important;
}

.tmp {
  border-right: 1px white solid !important;
}


.cta_black h1 {
    color: #1e2d3b !important;
    font-family: Fira Sans !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    width: 80% !important;

}


.collection {
 font-family: Fira Sans !important;
 font-weight: 300 !important;
 font-size: 12px !important;

 /*font-style: italic !important;*/
}

.prestation {
 font-family: Fira Sans !important;
 font-size: 11px !important;
 font-weight: 300 !important;
 color: #1E2D3B !important;
 text-transform: uppercase !important;
 line-height: 1.6 !important;
 letter-spacing: 1px !important;
}

.prestation strong {
    font-family: Fira Sans !important;
    font-weight: bold !important;
}

#prestation_black p {
    color: white !important;
    font-weight: 400 !important;
}




/*SHOOTINH EDITORIAL*/
.collection_editorial p{
  padding-left: 50px !important;
  font-family: Fira Sans !important;
  font-weight: light !important;
  font-style: italic !important;
}

/*SHOOTINH EDITORIAL*/


.item_editorial {
 padding-top: 100px !important;
 padding-bottom: 100px !important;
 padding-left: 50px;
 /*background: rgba(242,242,242,0.5) !important;*/
 border-radius: 4px !important;
 height: 95% !important;
}

#locations {
    padding: 0px !important;
    margin: 0px !important;
}

.vc_column-inner {
    box-shadow: none !important;
}



@media only screen and (max-width: 1024px) {


    .cta p {
        font-size: 12px !important;
        width: 100% !important;
    }

}

@media only screen and (max-width: 1024px) {


    .cta_black p {
        font-size: 12px !important;
        width: 80% !important;
    }

}

.collection_black h1 {
    font-size: 12px !important;
    color: white !important;
    font-weight: 400 !important;
    font-family: Fira Sans !important;
    letter-spacing: 1.6px;
}

.prestation_black p {
    color: white !important;
    font-weight: 400 !important;
    font-size: 10px !important;
    letter-spacing: 1.5 !important;
    line-height: 1.6 !important;
}

.prestation_black strong {
    font-family: Fira Sans !important;
    line-height: 1.6 !important;
    letter-spacing: 2px !important;
    font-weight: 700 !important;

}




.nectar_team_member_overlay .team_member_details .bio-inner .mobile-close {
    margin-top: 30px !important;

}

.cta_form h3 {
    font-weight: 500;
    color: #daac50 !important;
    font-size: 14px !important;
    font-family: Fira Sans !important;
}



/*-------------------FOOTER_NAV---------------------*/
.footer_menu {
    font-family: Fira Sans !important;
    font-size: 12px !important;
    display: inline-block;
    padding: 20px;
    text-align: center;
    line-height: 1.6;
    letter-spacing: 1.5px;
    font-weight: 400;
    color: #424256;
}

.footer_mobile {
    line-height: 1.6;
    letter-spacing: 1px;
    font-size: 10px !important;
    font-weight: 400;
}

/*instagram*/
.adress_insta {
 line-height: 1.6;
 letter-spacing: 2px;
 font-size: 8px !important;
 font-weight: 400 !important;
 font-family: Fira Sans !important;
 color: #424256;
}

#widget_flo_instagram-3 h4 {
    color: #424256 !important;
    text-transform: uppercase !important;
    writing-mode: vertical-lr !important;
    text-orientation: mixed !important;
    transform: rotate(180deg) !important;
    font-family: Fira Sans !important;
    position: relative !important;
    top: 204px !important;
    right: 64px !important;
    background: white !important;
    padding: 8px !important;
    line-height: 1.6 !important;
    letter-spacing: 1.5px !important;
    border-right: 1px solid #424256 !important;
}

body #sidebar h4, body .widget h4, body #footer-outer .widget h4 {
    font-size: 9px !important;
    font-weight: 400 !important;
}

/*----------------------*/
/*RESPONSIVE*/
@media only screen and (max-width: 800px) {
  #title_mobile {
    font-size: 10px !important;
    padding-left: 2%;
  }
  #separrator {
    text-transform: uppercase;
    line-height: 1.6;
    font-size: 10px !important;
    letter-spacing: 1px;
    font-weight: 300 !important;
    font-family: Fira Sans !important;
    text-align: center;
  }
}
