body a {
    font-style: normal !important;
    font-family: Nunito !important;
    font-weight: 500 !important;
}


/*-------LOGO-------------*/
/*title_h1*/
#title_ismahane {
    font-family: Cormorant !important;
    font-weight: 300 !important;
}

.subtitle_top h2 {
    font-family: Nunito !important;
    font-weight: 400 !important;
    font-size: 9px !important;
    line-height: 1.5 !important;
    padding-bottom: 8px !important;
    letter-spacing: 8px !important;
}

.subtitle_top h3 {
    margin-top: 4px !important;
    font-size: 8px !important;
    letter-spacing: 3.5px !important;
    line-height: 0.2rem !important;
    font-family: Nunito !important;
    font-weight: 300 !important;
    color: #404054;
}

.city h4 {
    font-family: Nunito !important;
    margin-top: -16px !important;
    font-size: 9px !important;
    letter-spacing: 3.5px !important;
    font-weight: 400 !important;
}


/*------------button navigation*/
.button_nav a {
    letter-spacing: 3.5px;
    line-height: 1;
    color: #1e2e3b !important;
    padding-bottom: 1px;
    font-weight: 600 !important;
    font-size: 9px !important;
}

.button_nav:hover a {
    font-weight: 300 !important;
}

/*------------------*/
.picture_top {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    height: 100vh !important;
    width: auto !important;
    background-image: cover !important;
}



/* A propos*/
.subtitle_bio {
    position: relative;
    top: -8px;
    letter-spacing: 2px;
    color: #daac50;
    font-weight: 400 !important;
}

.img_bio {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    height: 443px !important;
    width: auto !important;
    background-image: cover !important;
}

.link_bio a {
    font-family: Nunito !important;
    font-weight: 600 !important;
    letter-spacing: 2px;

}

/*----------------------------------------*/
/*Portfolio*/
#signature_work_mobile {
    font-size: 9px !important;
    color: #daac50 !important;
    letter-spacing: 2.5px !important;
    font-weight: 600 !important;
}

.link_all a {
    font-family: Nunito !important;
    letter-spacing: 2px !important;
    font-size:  9px !important;
    color:  #1E2D3B !important;
}
/*----------------------------------------*/
/*Publication*/
.link_editorial span {
    font-family: Nunito !important;
    letter-spacing: 2.5px !important;
}

/*-------------------PRESTATIONS---------------------*/
#title_prestation_home {
    letter-spacing: 2px;
}

.text_prestation_home a {
    font-family: Nunito !important;
    font-weight: 400;
    color: #daac50;
}

.img_prestation {
    height: auto !important;
    width: 358px !important;
}


#gala {
    z-index: 5 !important;
    position: relative;
    text-transform: capitalize !important;
    top: 40px;
    font-weight: 500;
    font-size: 102px !important;
}

#malvie {
    z-index: 5 !important;
    position: relative;
    top: 48px;
    right: 88px;
    font-weight: 500;
    font-size: 102px !important;
}

#publications {
    letter-spacing: 2px;
}

.link_magazine a {
    font-family: Nunito !important;
    letter-spacing: 2px;
}

/*---------EDUCATION-----------------------------*/
.education_item h3 {
    font-size: 24px !important;
    letter-spacing: 2px;
}

.btn_workshop span {
    color: #1e2d3b !important;
    font-size: 9px;
    font-weight: 400;
    letter-spacing: 3.5px !important;
}

.btn_workshop {
    text-align: center !important;
    width: 100% !important
}

/*------------------------------------------*/

.button_presta span {
    color: white !important;
    font-size: 9px;
    font-weight: 600;
    letter-spacing: 3.5px !important;
}

.button_presta {
    text-align: center !important;
    width: 100% !important
}

/*---------------------------------------*/
/*instagram*/

/*instagram*/
/*.adress_insta h3{
  line-height: 1.6;
  letter-spacing: 3.5px;
  font-size: 9px !important;
  font-weight: 400 !important;
  font-family: Fira Sans !important;
  color: #404054;
  background-color: red !important;
}*/

#instagram a {
    letter-spacing: 2.5px !important;
    color: #424256 !important;
    font-size: 9px !important;

}


#widget_flo_instagram-3 h4 {
    color: #424256 !important;
    text-transform: uppercase !important;
    writing-mode: vertical-lr !important;
    text-orientation: mixed !important;
    transform: rotate(180deg) !important;
    font-family: Nunito !important;
    position: relative !important;
    top: 204px !important;
    right: 64px !important;
    background: white !important;
    padding: 8px !important;
    line-height: 1.6 !important;
    letter-spacing: 1.5px !important;
    border-right: 1px solid #424256 !important;
}

body #sidebar h4,
body .widget h4,
body #footer-outer .widget h4 {
    color: #424256 !important;

    font-size: 9px !important;
    font-weight: 400 !important;
    font-family: Nunito !important;
    letter-spacing: 2.5px !important;
}




/*---------------------------------------*/
/*RESPONSIVE*/
/*TOP*/
/*=> a vérifier*/
/*#top_header_subtitle {
    font-size: 8px !important;
    padding: 0px 6px !important;
    letter-spacing: 1.5px;
    line-height: 1.4 !important;
    color: purple !important;
    background: red !important;
}*/

.button_nav_mobile a {
    letter-spacing: 3.5px;
    line-height: 1;
    padding-bottom: 1px;
    font-weight: 700 !important;
    font-size: 12px !important;
    color: white !important;
}

.button_nav_mobile:hover a {
    font-weight: 400 !important;

}

/*A propos*/
@media only screen and (max-width: 800px) {
    #subtitle_bio_mobile {
        font-size: 9px !important;
        color: #daac50 !important;
        letter-spacing: 2px !important;
    }

    #signature_work_mobile {
        font-size: 9px !important;
        color: #daac50 !important;
        letter-spacing: 2px !important;
    }

    #publications {
        font-size: 10px !important;
        letter-spacing: 2px !important;
        text-align: center !important;
    }

    #education {
        font-size: 10px !important;
        letter-spacing: 2px !important;
        padding-top: 6px !important;
        text-align: center !important;
    }

    #about {
        font-size: 10px !important;
        letter-spacing: 2px !important;
        padding-top: 6px !important;
        text-align: center !important;
    }

    #prestitions_title {
        font-size: 10px !important;
        letter-spacing: 2px !important;
        text-align: center !important;
    }

    #prestat_mannequin {
        font-size: 10px !important;
        letter-spacing: 2.5px !important;
        font-family:  Nunito !important;

    }

    #prestat_commercial {
        font-size: 10px !important;
        letter-spacing: 2.5px !important;
        font-family:  Nunito !important;
    }

    #prestat_mariage {
        font-size: 10px !important;
        letter-spacing: 2.5px !important;
        font-family:  Nunito !important;
    }

    #prestat_portrait {
        font-size: 10px !important;
        letter-spacing: 2.5px !important;
        font-family:  Nunito !important;
    }

    #prestat_grossesse {
        font-size: 10px !important;
        letter-spacing: 2.5px !important;
        font-family:  Nunito !important;
    }

    #prestat_corporate {
        font-size: 10px !important;
        letter-spacing: 2.5px !important;
        font-family:  Nunito !important;
    }

    .footer_subtitle h3 {
        font-size: 7px !important;
    }

    .bg_prestation {
        background-color: white !important;
    }

}


.footer_subtitle h3 {
    margin-top: 4px !important;
    font-size: 8px !important;
    letter-spacing: 3.5px !important;
    line-height: 0.2rem !important;
    font-family: Nunito !important;
    font-weight: 300 !important;
    color: #404054;

}

.footer_subtitle strong {
    font-weight: 400 !important;
    font-size: 9px !important;
    line-height: 1.5 !important;
    padding-bottom: 8px !important;
}

.footer_city h4 {
    margin-top: -16px !important;
    font-size: 9px !important;
    letter-spacing: 3.5px !important;
    font-weight: 700 !important;
}



.footer_menu {
    font-family: Nunito !important;
    font-size: 12px !important;
    display: inline-block;
    padding: 20px;
    text-align: center;
    line-height: 1.6;
    letter-spacing: 1.5px;
    font-weight: 400;
    color: #424256;
}

.footer_mobile {
    line-height: 1.6;
    letter-spacing: 1px;
    font-size: 10px !important;
    font-weight: 400;
}

#nav_mobile_footer {
    line-height: 1px !important;
}

#nav_mobile_footer a {
    letter-spacing: 3.5px;
    font-size: 9px !important;

}

/*Title*/

#publications {
    letter-spacing: 2.5px !important;
    font-family: Nunito !important;
    font-weight:  600 !important;
    letter-spacing:  3.5px !important;
}

#education {
    letter-spacing: 2.5px !important;
    font-family: Nunito !important;
    font-weight:  600 !important;
    letter-spacing:  3.5px !important;
}

#about {
    letter-spacing: 2.5px !important;
    font-family: Nunito !important;
    font-weight:  600 !important;
    letter-spacing:  3.5px !important;
}

#prestitions_title {
    letter-spacing: 2.5px !important;
    font-family: Nunito !important;
    font-weight:  600 !important;
    letter-spacing:  3.5px !important;
}
