/*BUTTON*/
.cta_prestation span {
    font-family: Fira Sans !important;
    font-size: 11px !important;
    font-style: normal !important;
    letter-spacing: 2.5px !important;
    font-weight: 400 !important;
}

.banner_top {
    font-size: 9px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    letter-spacing: 2.5px !important;

}

/*HEADER*/

#subtitle_catalogue_photographer {
    letter-spacing: 2.5px !important;
    color: gold !important;
}

#besoint_information_title {
    color: white !important;
    color: red !important;
}


.description_catalogue_prestations p {
    color: white !important;
    letter-spacing: 2.5px !important;
}

.description_catalogue_prestations a {
    color: #daac50 !important;
    font-weight: 500 !important;
}


/*Prestations*/
.collection h3 {
    font-size: 14px !important;
    font-family: Fira Sans !important;
    font-weight: 100;
    letter-spacing: 2px;
    line-height: 1.1 !important;

}

.collection h4 {
    font-family: Fira Sans !important;
    font-size: 9px !important;
    letter-spacing: 2.5px !important;
    line-height: 1.1 !important;
    font-weight: 400 !important;
}

.collection strong {
    font-family: Cormorant !important;
    font-style: italic;
}

#description_prestation {
    letter-spacing: 1.8px !important;
}

/*Photo prestation*/
.border_line_picture {
    border-bottom: .5px solid #1E2D3B;
}

/*-------------------FOOTER_NAV---------------------*/
.footer_subtitle h3 {
    margin-top: 4px !important;
    font-size: 8px !important;
    letter-spacing: 3.5px !important;
    line-height: 0.2rem !important;
    font-family: Fira Sans !important;
    font-weight: 300 !important;
    color: #404054;

}

.footer_subtitle strong {
    font-weight: 400 !important;
    font-size: 9px !important;
    line-height: 1.5 !important;
    padding-bottom: 8px !important;
}

.footer_city h4 {
    margin-top: -16px !important;
    font-size: 9px !important;
    letter-spacing: 3.5px !important;
    font-weight: 700 !important;
}



.footer_menu {
    font-family: Fira Sans !important;
    font-size: 12px !important;
    display: inline-block;
    padding: 20px;
    text-align: center;
    line-height: 1.6;
    letter-spacing: 1.5px;
    font-weight: 400;
    color: #424256;
}

.footer_mobile {
    line-height: 1.6;
    letter-spacing: 1px;
    font-size: 10px !important;
    font-weight: 400;
}

#nav_mobile_footer {
    line-height: 1px !important;
}

#nav_mobile_footer a {
    letter-spacing: 3.5px;
    font-size: 9px !important;

}

/*instagram*/
#instagram a {
    letter-spacing: 2.5px !important;
    color: #424256 !important;
    font-size: 9px !important;

}

body #sidebar h4,
body .widget h4,
body #footer-outer .widget h4 {
    color: #424256 !important;

    font-size: 9px !important;
    font-weight: 400 !important;
    font-family: Fira Sans !important;
    letter-spacing: 2.5px !important;
}

/*----------------------responsive--------------*/
@media only screen and (max-width: 800px) {
    #header_catalogueh1 {
        font-size: 16px;
        text-align: center !important;
    }

    #subtitle_catalogue_photographer {
        line-height: 1.6;
        font-size: 10px !important;
        font-weight: 300 !important;
        font-family: Fira Sans !important;
        text-align: center !important;
    }

    #description_prestation {
        font-size: 8px !important;
        text-align: justify-all;
        letter-spacing: 1.6px important;
        line-height: 1.6 !important;
    }

    .collection h3 {
        font-size: 12px !important;
        line-height: 1.6 !important;

    }

    .collection h4 {
        font-size: 10px !important;
        line-height: 1.6 !important;

    }

    #separrator {
        text-transform: uppercase;
        line-height: 1.6;
        font-size: 10px !important;
        letter-spacing: 1px;
        font-weight: 300 !important;
        font-family: Fira Sans !important;
        text-align: center;
    }

    #title_prestation-shooting {
        font-size: 11px !important;
    }

    #title_photographe_pro {
        font-size: 8px !important;
        width: 100% !important;
        line-height: 1.2 !important;
    }

    #top_header_mobile {
        font-size: 8px !important;
        text-align: center !important;
        letter-spacing: 2px !important;
        line-height: 1.6 !important;

    }

    #btn-call-mobile {
        width: 100%;
        text-align: center !important;
        font-style: normal !important;
        font-weight: 400 !important;
        letter-spacing: 2px !important;
    }

    #subtitle_banner_mobile {
        font-size: 9px !important;
        letter-spacing: 1.6px !important;
    }

    #btn_prestat_mobile {
        width: 100% !important;
        text-align: center !important;
    }

    #title_about {
        letter-spacing: 2.5px !important;
        font-size: 9px !important;
    }
    .picture_about {
     width:  200px !important;
     height:  auto !important;
    }

    .footer_subtitle h3 {
        font-size: 7px !important;
    }


}

#title_photographe_pro {
    letter-spacing: 2px;
    font-weight: 300 !important;
    display: inline-block !important;
    padding-right: 150px;
}

.rose-picture {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    height: 100vh !important;
    width: 50px !important;
    background-image: cover !important;
}

#title_prestation-shooting {
    letter-spacing: 2.5px !important;
}

#title_about {
    letter-spacing: 2.5px !important;
}

.call_isma span {
    letter-spacing: 2.5 px !important;
    font-style: normal !important;
    font-size: 9px !important;
}

#subtitle_collection {
    line-height: 1.2 !important;
    letter-spacing: 2.5px !important;
}
