/*------BODY------*/

a {
    font-style: normal !important;
    font-family: Nunito !important;
    font-weight: 500 !important;
}



/*------Typographie------*/
Cormorant => Title
Nunito => Title
Fira Sans => paragraph

/*-------Button------*/



/*-------Navigation------*/






