/*---------------------------HEADER-----------------------------------*/
/*---------logo*/
/*LOGO*/
.logo {
  font-family: Cormorant !important;
  font-weight: 300 !important;
}

/*COLLECTION*/
#text_collection {
  letter-spacing: 1.2px;
}

.item_collection {
  font-family: Cormorant !important;
  font-weight: 300 !important;
}

.product_h2 h2 {
  font-size: 10px !important;
  letter-spacing: 1.1px !important;
  font-family: Fira Sans !important;
  font-weight: 300;
  line-height: 1.6;
  font-style: justify !important;
}

.price {
  letter-spacing: 2px !important;
}


/*CTA*/
/*Button propriété générale*/
.nectar-button span {
  font-size: 12px !important;
  font-style: italic !important;
  letter-spacing: 1.6px !important;
}

.nectar-button:hover span {
  font-weight: 400 !important;
}
/*Réservez une séance*/
#cta_booking:hover {
  background: #1e2d3b !important;
  color: #f7fbfc !important;
}

/*---------About*/

.text_biography {
  width: 88% !important;
}

/*Lien vers la page about*/
.cta_bio span {
  font-family: Fira Sans !important;
  font-style: italic !important;
  font-size: 12px !important;
  text-transform: uppercase !important;
}

.border_line_picture {
  border-bottom: 2px solid white;
}

#title_social_media {
  letter-spacing: 1.2px;
}
/* --------------------collection Portrait */
.collection_portrait h2 {
  font-family: Fira Sans !important;
  font-weight: 300 !important;
  font-size: 10px !important;
}

.collection_portrait strong {
  font-family: Fira Sans !important;
  font-weight: 500 !important;
  line-height: 1.6 !important;
}
/* --------------------Page prestation */
.onglet_part {
  letter-spacing: 1.4px;
  transform: rotate(90deg) !important;
  transform-origin: top right !important;
}

.item_descriptif h3 {
  font-family: Fira Sans !important;
  font-size: 12px !important;
  font-weight: 300 !important;
  text-transform: uppercase !important;
  line-height: 1.6 !important;
}

.item_descriptif strong {
  font-weight: 500 !important;
}

.item_descriptif em {
  font-family: Fira Sans !important;
  font-size: 12px !important;
  font-weight: 300 !important;
  font-style: italic !important;
}

.link_fashion a {
  color: #889aa8 !important;
  font-style: italic !important;
}

.link_savoirplus a {
  font-style: italic !important;
  font-size: 12px !important;
  font-weight: 400 !important;
}

.item_price p {
  font-family: Fira Mono !important;
  font-size: 12px !important;
  line-height: 1.6 !important;
  letter-spacing: 2px !important;
}

#cta_booking_top {
  border-radius: 8px !important;
  border: 0.5px solid white !important;
  background: transparent !important;
}

#cta_booking_top span {
  font-family: Cormorant !important;
  font-size: 16px !important;
  font-style: italic !important;
  color: white !important;
  font-weight: 300 !important;
}

#cta_booking_presta {
  border-radius: 8px !important;
  border: 0.5px solid #1e2d3b !important;
  background: #1e2d3b !important;
}

#cta_booking_presta span {
  font-family: Fira Sans !important;
  font-size: 12px !important;
  font-style: italic !important;
  color: white !important;
  font-weight: 300 !important;
}

/*instagram*/
.adress_insta {
 line-height: 1.6;
 letter-spacing: 2px;
 font-size: 8px !important;
 font-weight: 400 !important;
 font-family: Fira Sans !important;
 color: #424256;
}

#widget_flo_instagram-3 h4 {
  color: #424256 !important;
  text-transform: uppercase !important;
  writing-mode: vertical-lr !important;
  text-orientation: mixed !important;
  transform: rotate(180deg) !important;
  font-family: Fira Sans !important;
  position: relative !important;
  top: 204px !important;
  right: 64px !important;
  background: white !important;
  padding: 8px !important;
  line-height: 1.6 !important;
  letter-spacing: 1.5px !important;
  border-right: 1px solid #424256 !important;
}

body #sidebar h4, body .widget h4, body #footer-outer .widget h4 {
  font-size: 9px !important;
  font-weight: 400 !important;
}



/*-------------------FOOTER_NAV---------------------*/
.footer_menu {
  font-family: Fira Sans !important;
  font-size: 12px !important;
  display: inline-block;
  padding: 20px;
  text-align: center;
  line-height: 1.6;
  letter-spacing: 1.5px;
  font-weight: 400;
  color: #424256;
}

.footer_mobile {
  line-height: 1.6;
  letter-spacing: 1px;
  font-size: 10px !important;
  font-weight: 400;
}



/*---------------------responsive -----------------------*/
.logo_responsive {
  font-family: Cormorant !important;
  font-weight: 300 !important;
  color: white !important;
}

.subtitle_logo_responsive {
  font-size: 8px !important;
  color: white !important;
}

#product_h1_mobile {
  padding-left: 50px !important;
}

@media only screen and (max-width: 800px) {
  #item_collection {
    color: white !important;
    font-size: 32px !important;
  }
  .product_h2 h2 {
    font-family: Fira Sans !important;
    font-size: 10px !important;
    font-weight: 300 !important;
    color: white !important;
    line-height: 1.6 !important;
    margin: auto;
  }
  .product_h2 strong a {
    color: white;
  }

  .onglet_part {
    font-family: Fira Mono !important;
    font-size: 14px !important;
  }

  #onglet_biographie {
    font-size: 12px !important;
  }
  #title_bio {
    font-size: 14px !important;
  }
  #onglet_solo {
    font-size: 12px !important;
  }
  #title_portrait_solo {
    font-size: 14px !important;
    line-height: 1.6;
  }
  #onglet_couple {
    font-size: 12px !important;
  }
  #title_portrait_couple {
    font-size: 14px !important;
    line-height: 1.6;
  }
  #onglet_famille {
    font-size: 12px !important;
  }
  #title_portrait_famille {
    font-size: 14px !important;
    line-height: 1.6;
  }
  #separrator {
    text-transform: uppercase;
    line-height: 1.6;
    font-size: 10px !important;
    letter-spacing: 1px;
    font-weight: 300 !important;
    font-family: Fira Sans !important;
    text-align: center;
  }
}

.item_descriptif_responsive h3 {
  font-family: Fira Sans !important;
  font-size: 10px !important;
  font-weight: 300 !important;
  color: #1e2d3b !important;
  line-height: 1.6 !important;
}

.item_descriptif_responsive strong {
  font-size: 10px !important;
  font-weight: 500 !important;
}

.item_descriptif_responsive em {
  font-family: Fira Sans !important;
  font-size: 10px !important;
  font-weight: 300 !important;
  font-style: italic !important;
}


@media only screen and (max-width: 690px) {
  .product_h2 h2 {
    font-size: 10px !important;
  }
}
